
<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Asylum Wind Songs List</p>
            <div class="list-group">
                <li class="list-group-item active">Enter the song Title</li>
                <li class="list-group-item">Enter A link to the version you want to do</li>
                <li class="list-group-item">Enter the song number</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail"> 
               <p class="caption-full">Song Number<%= song.index %></p>
               <a href="<%= song.link %>"  target="_blank"> <%= song.name %>  :</a>
                       
                 <div class="caption-full">
                       <h4 class="pull-right">$900/night</h4>
                        <a href ="<%= song.music %>"  target="_blank">Sheet Music</a>
                        <p>
                            <em>Submitted By <%= song.author.username %></em>
                        </p>
                 <% if(currentUser && song.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-warning" href="/songs/<%= song._id %>/edit">Edit</a>
                        <form id="delete-form" action="/songs/<%= song._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/songs/<%= song._id %>/notes/new">Add New Note</a>
                </div>
                <hr>
                <% song.notes.forEach(function(note){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= note.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= note.text %> 
                            </p>
                        <% if(currentUser && note.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" 
                               href="/songs/<%=song._id %>/notes/<%=note._id %>/edit">Edit</a>
                            <form id="delete-form" action="/songs/<%=song._id %>/notes/<%=note._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>